---
import { getCollection } from 'astro:content';
import GiscusScript from '@/layouts/GiscusScript.astro';
import Layout from '@layouts/Layout.astro';
import Footer from '@/components/Footer.astro';
import ClipboardLink from '@/components/ClipboardLink.astro';
import KakaoLink from '@/components/KakaoLink.astro';

export async function getStaticPaths() {
  const postEntries = await getCollection('post');
  const postEntriesLength = postEntries.length;

  return postEntries
    .sort((a, b) => b.data.createDate.getTime() - a.data.createDate.getTime())
    .map((entry, i) => {
      const prevEntry = i + 1 === postEntriesLength ? null : postEntries[i + 1];
      const nextEntry = i === 0 ? null : postEntries[i - 1];

      return {
        params: { slug: entry.slug },
        props: { entry, prevEntry, nextEntry },
      };
    });
}

const { entry, prevEntry, nextEntry } = Astro.props;

const { title, createDate } = entry.data;
const { Content } = await entry.render();

const description = entry.body.substring(0, 100);
const formatDate = `${createDate.getFullYear()}년 ${String(
  createDate.getMonth() + 1
).padStart(2, '0')}월 ${String(createDate.getDate()).padStart(2, '0')}일`;
---

<Layout title={title} description={description}>
  <div class="my-10 flex flex-col items-center justify-between">
    <time>
      {formatDate}
    </time>
    <h1
      class="mt-4 max-w-[18rem] text-center text-2xl font-extrabold tracking-tight md:max-w-full md:text-3xl"
    >
      {title}
    </h1>
  </div>
  <div class="flex items-center justify-center gap-3">
    <KakaoLink title={title} description={description} />
    <ClipboardLink />
  </div>
  <div
    class="prose mt-10 prose-h2:text-cyan-500 prose-p:font-light prose-p:text-gray-600 prose-a:text-cyan-500 prose-img:rounded-lg dark:prose-h2:text-cyan-500 dark:prose-p:text-gray-400 dark:prose-a:text-cyan-500"
  >
    <Content />
  </div>

  {
    (prevEntry || nextEntry) && (
      <div class="flex flex-col-reverse items-stretch justify-between gap-6 pb-8 pt-12">
        {prevEntry && (
          <a
            href={`${import.meta.env.BASE_URL}posts/${prevEntry?.slug}`}
            class="w-full"
          >
            <button class="flex h-full w-full items-center justify-start gap-3 bg-gray-100 p-4 dark:bg-gray-800">
              <span class="material-symbols-rounded text-4xl text-cyan-500 dark:text-cyan-500">
                arrow_circle_left
              </span>
              <div class="flex flex-col items-start gap-0.5">
                <p class="text-xs text-gray-700 dark:text-gray-300">
                  이전 포스트
                </p>
                <p class="text-left text-gray-900 dark:text-gray-100">
                  {prevEntry?.data.title}
                </p>
              </div>
            </button>
          </a>
        )}

        {nextEntry && (
          <a
            href={`${import.meta.env.BASE_URL}posts/${nextEntry?.slug}`}
            class="w-full"
          >
            <button class="flex h-full w-full items-center justify-end gap-3 bg-gray-100 p-4 dark:bg-gray-800">
              <div class="flex flex-col items-end gap-0.5">
                <p class="text-xs text-gray-700 dark:text-gray-300">
                  다음 포스트
                </p>
                <p class="text-right text-gray-900 dark:text-gray-100">
                  {nextEntry?.data.title}
                </p>
              </div>
              <span class="material-symbols-rounded text-4xl text-cyan-500 dark:text-cyan-500">
                arrow_circle_right
              </span>
            </button>
          </a>
        )}
      </div>
    )
  }
  <GiscusScript class="mt-10" />
  <Footer />
</Layout>
