---
import { getCollection } from 'astro:content';
import GiscusScript from '@/layouts/GiscusScript.astro';
import Layout from '@layouts/Layout.astro';
import Footer from '@/components/Footer.astro';

export async function getStaticPaths() {
  const postEntries = await getCollection('post');
  const postEntriesLength = postEntries.length;

  return postEntries
    .sort((a, b) => b.data.createDate.getTime() - a.data.createDate.getTime())
    .map((entry, i) => {
      const prevEntry = i + 1 === postEntriesLength ? null : postEntries[i + 1];
      const nextEntry = i === 0 ? null : postEntries[i - 1];

      return {
        params: { slug: entry.slug },
        props: { entry, prevEntry, nextEntry },
      };
    });
}

const { entry, prevEntry, nextEntry } = Astro.props;

const { title, createDate } = entry.data;
const { Content } = await entry.render();

const description = entry.body.substring(0, 100);
const formatDate = `${createDate.getFullYear()}년 ${String(
  createDate.getMonth() + 1
).padStart(2, '0')}월 ${String(createDate.getDate()).padStart(2, '0')}일`;
---

<Layout title={title} description={description}>
  <div class="my-10 flex flex-col items-center justify-between">
    <time>
      {formatDate}
    </time>
    <h1
      class="mt-4 max-w-[18rem] text-center text-2xl font-extrabold tracking-tight md:max-w-full md:text-3xl"
    >
      {title}
    </h1>
  </div>
  <div
    class="prose prose-p:font-light prose-h2:text-cyan-500 dark:prose-h2:text-cyan-500 prose-p:text-gray-600 dark:prose-p:text-gray-400 prose-img:rounded-lg prose-a:text-cyan-500 dark:prose-a:text-cyan-500"
  >
    <Content />
  </div>

  {
    (prevEntry || nextEntry) && (
      <div class="pt-12 pb-8 flex flex-col-reverse md:flex-row justify-between items-stretch gap-6">
        {prevEntry && (
          <a
            href={`${import.meta.env.BASE_URL}posts/${prevEntry?.slug}`}
            class="w-full"
          >
            <button class="w-full h-full p-4 bg-gray-100 dark:bg-gray-800 flex justify-start items-center gap-3">
              <span class="material-symbols-rounded text-4xl text-sky-400">
                arrow_circle_left
              </span>
              <div class="flex flex-col items-start gap-0.5">
                <p class="text-xs text-gray-700 dark:text-gray-300">
                  이전 포스트
                </p>
                <p class="text-gray-900 dark:text-gray-100 text-left">
                  {prevEntry?.data.title}
                </p>
              </div>
            </button>
          </a>
        )}

        {nextEntry && (
          <a
            href={`${import.meta.env.BASE_URL}posts/${nextEntry?.slug}`}
            class="w-full"
          >
            <button class="w-full h-full p-4 bg-gray-100 dark:bg-gray-800 flex justify-end items-center gap-3">
              <div class="flex flex-col items-end gap-0.5">
                <p class="text-xs text-gray-700 dark:text-gray-300">
                  다음 포스트
                </p>
                <p class="text-gray-900 dark:text-gray-100 text-right">
                  {nextEntry?.data.title}
                </p>
              </div>
              <span class="material-symbols-rounded text-4xl text-sky-400">
                arrow_circle_right
              </span>
            </button>
          </a>
        )}
      </div>
    )
  }
  <GiscusScript class="mt-10" />
  <Footer />
</Layout>
