---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'post'>;
}

const { post } = Astro.props;

const { slug } = post;
const {
  body,
  data: { title, category, createDate },
} = post;

const description = body.slice(0, 100);
const formatDate = `${createDate.getFullYear()}년 ${String(
  createDate.getMonth() + 1
).padStart(2, '0')}월 ${String(createDate.getDate()).padStart(2, '0')}일`;
---

<li>
  <a href={`${import.meta.env.BASE_URL}posts/${slug}`} class="flex flex-col">
    <span
      class:list={[
        'w-max rounded-full px-2.5 uppercase text-xs text-gray-100 font-bold leading-6',
        {
          'bg-purple-600': category === 'tech',
          'bg-green-600': category === 'life',
        },
      ]}
    >
      {category}
    </span>
    <h1 class="mt-2 text-xl font-bold leading-7">
      {title}
    </h1>
    <p class="mt-3 text-gray-500 dark:text-gray-400 line-clamp-3">
      {description}
    </p>
    <span class="mt-3 text-sm text-gray-700">
      {formatDate}
    </span>
  </a>
</li>
